*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  background-color: white;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.75;
  color: #444;
}

.content-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}

.section-bg-gray {
  background-color: gray;
}

.section-bg-pink {
  background-color: mistyrose;
}
